:root {
  --green: #A2CCB6;
  --yellow: #FCEEB5;
  --peach: #EE786E;
  --off-white: #ffe8e8;
  --select: grey;
}

body {
  background-color: #FFFFFF;
  margin-top: 50px;
  font-family: 'Playpen Sans', cursive;
}

keyboard span {
  display: block;
  margin-top: -5px;
}

  
.keyboard {
  width: 780px;
  height: 262px;
  margin: 0px auto;
  border: 3px solid #4124ab;
  border-radius: 10px;
  background: #4124ab;
  margin-top: 10px;
}
  
  .row {
    margin-top: 2px;
    overflow: hidden;
  }


  .key {
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
    background-color: var(--off-white);
    color: #000000;
    line-height: 48px;
    text-align: center;
    margin-left: 2px;
    border-radius: 4px;
  }

  .key__symbols {
    line-height: 28px;
  }

  .key__delete {
    width: 100px;
  }

  .key__oneandhalf {
    width: 75px;
  }

  .key__esc {
    background: var(--peach);
  }
  
  .key__enter {
    width: 112px;
  }
  
  .key__caps {
    width: 90px;
  }
  
  .key__shift-left {
    width: 100px;
  }
  
  .key__spacebar {
    width: 300px;
  }
  
  .key__bottom-funct {
    width: 70px;
  }
  
  .key__arrow {
    background: var(--green);
  }
  
  .feather {
    margin-top: 10px;
  }
  

  
  .tap {
    animation: mark 0.3s;
  }

  @keyframes mark {
    0% {
      background-color: var(--select);;
    }
    50% {
      background-color: var(--peach);
      color: white;
    }

    
  }