html{
    font-family:sans-serif;
}
body {
    text-align: center;
    background: -webkit-linear-gradient(left, #eb6592, #7e2644);
}
h1{
    position: relative;
    top: 40px;
}
.container{
    width: 330px;
    margin: auto;
    margin-top: 10%;
    padding: 5px;
    backdrop-filter: blur(17px) saturate(200%);
    -webkit-backdrop-filter: blur(17px) saturate(200%);
    background-color: rgba(190, 190, 190, 0.44);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
}
.title{
  text-align: center;
    color: #500866;
    font-weight: 400;
}
.form{
  padding: 15px;
}
.form-group {
position: relative;
padding: 20px 0;
margin: auto;
max-width: 100%;
}

.form-group input {
background-color: transparent;
border: none;
border-bottom: 1.4px solid rgba(218, 184, 247, 0.699);
font-size: 18px;
padding: 10px 0;
display: block;
width: 100%;
}

.form-group label {
color: #4124ab;
font-size: 16px;
font-weight: 100;
position: absolute;
pointer-events: none;
top: 0;
transform: translateY(30px);
transition: all 0.2s ease-in-out;
left: 0px;
}

.form-group input:valid,
.form-group input:focus {
border-bottom-color: #dddddd;
outline: none;
}

.form-group input:valid + label,
.form-group input:focus + label {
color: rgb(46, 16, 74);
font-size: 14px;
transform: translateY(0);
}
.submit{
  background: rgb(212, 26, 107);
    padding: 7px 0;
    outline: none;
    font-size: 18px;
    width: 100%;
    margin: 17px 0;
    cursor: pointer;
    color: rgb(226, 224, 224);
    border-radius: 5px;
    transition: 0.1s;
    border: 1px solid rgb(100, 3, 218);
}
.submit:hover{
  background: rgba(216, 214, 214, 0.301);
  color: rgb(33, 9, 131);
}
a{ /*globally*/
  text-decoration: none;
}
.row a{
  color: #4124ab;
}
a:hover{ /*For all links*/
  color: rgb(168, 32, 210);
}

