
/* MAIN Navigation */
.log{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.575);
    margin-right: 25px;
    font-size: 22px;
    letter-spacing: 1px;
    display: inline;
    position: relative;
    overflow: hidden;
}

.log:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -1px;
    background: #fff;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.log:hover:after,
.log:focus:after,
.log:active:after {
    left: 0;
    right: auto;
    width: 100%
}

.mainnav{
    width: 100%;
    top: -10px;
    display: flex;
    justify-content: end;
    padding-top: -10px;
    width: auto;
    right: 10px;
    position: absolute;
}

.mainnav ul{
    list-style-type: none;
}

.mainnav ul li{
    display: inline-block;
    margin-top: 5px;
    color: #ffffff66;
}

.mainnav ul li :hover{
    color: #ffffff;
}

/* MAIN Navigation - END */



.opt{
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 20px;
}
/* Side Navigation - END */

.enter{
    border: 1px bold white;
    position: absolute;
    top: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.enter #jsenter{
    color: white;
    font-size: 20px;
    font-weight: bold;

}
