.gamelst{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: absolute;
    top: 30vh;
}

.gamelst ul{
    list-style-type: none;
}

.gamelst ul li a{
    display: block;
    margin-top: 15px;
    border: 1px solid white;
    width: 700px;
    text-align: center;
    border-radius: 10px;
    height: 100px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}


.gamelst ul li :hover{
    background-color: white;
    color: black;
}

