.textdisplay{
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    top: 20vh;
    left: 65vh;
    height: auto;
    width: 600px;
    background-color: RGB(255,255,255,0.5);
}

.quotetxt{
    padding: 10px;
    font-size: 20px;
    line-height: 30px;
}