body{
    background: #7e2644;
    /*background: -webkit-linear-gradient(left, #8f94fb, #7E26444e);*/
    background: -webkit-linear-gradient(left, #eb6592, #7e2644);
    width: 100%;
    height: 100vh;
}

/* Header */
header{
    width: 100%;
    position: absolute;
    top: 45vh;
}

header p{
    text-align: center;
    color: #fff;
    font-size: 60px;
}
/* Header - END */

/* MAIN Navigation */
.log{
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 22px;
    letter-spacing: 1px;
    display: inline;
    position: relative;
    overflow: hidden;
}

.log:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -10px;
    background: #fff;
    height: 3px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.log:hover:after,
.log:focus:after,
.log:active:after {
    left: 0;
    right: auto;
    width: 100%
}

.mainnav{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 10px;
}

.mainnav ul{
    list-style-type: none;
}

.mainnav ul li{
    display: inline-block;
    margin-top: 10px;
}
/* MAIN Navigation - END */

/* Side Navigation */
.startnav{
    position: absolute;
    width: 100%;
    height: auto;
    top: 55vh;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.startnav ul{
    list-style-type: none;
}

.startnav ul li{
    display: inline-block;
    padding: 20px 0px 20px 0px;

}

.opt{
    border: 1px solid white;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    margin-right: 25px;
    font-size: 22px;
    letter-spacing: 1px;
    padding: 20px;
}
/* Side Navigation - END */

.enter{
    border: 1px bold white;
    position: absolute;
    top: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.enter #jsenter{
    color: white;
    font-size: 20px;
    font-weight: bold;

}
