body {
    text-align: center;
    background: -webkit-linear-gradient(left, #B4869F, #985F6F);
}
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size: 45px;
    color: white;
    font-family: 'Playpen Sans', cursive;
  }
  
  .stats {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    top: 15vh;
    margin-left: 80px;
  }

  .results {
    display: flex;
    justify-content: center;
  }

  
  .timer, .errors,
  .accuracy, .square {
    background-color: RGB(255,255,255,0.5);
    height: 60px;
    width: 70px;
    margin: 8px;
    padding: 12px;
    border-radius: 20%;
    border: 1px solid white;
  }
  
  .header_text {
    font-family: 'Playpen Sans', cursive;
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: 600;
  }
  
  .curr_time, .curr_errors,
  .curr_accuracy,
  .res_wpm, .res_errors,
  .res_time, .res_accuracy {
    font-family: 'Playpen Sans', cursive;
    font-size: 35px;
  }
  
  .quote {
    font-family: 'Playpen Sans', cursive;
    background-color: RGB(255,255,255,0.5);
    font-size: 22px;
    margin: 15px;
    padding: 25px;
    /*box-shadow: black 5px 8px 5px;*/
    border: 1px solid white;
    border-radius: 10px;
    width: 800px;
  }
  
  .input_area {
    background-color: #f5f5c6;
    height: 80px;
    width: 40%;
    font-size: 1.5rem;
    margin: 15px;
    padding: 20px;
    border: 0px;
    box-shadow: black 5px 8px 5px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .incorrect_char {
    color: red;
  }
  
  .correct_char {
    color: darkgreen;
  }

  .current_char {
    background-color: orange;
    text-decoration: underline;
  }
  
  .restart_btn {
    display: none;
    background-color: #326765;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 500px;
  }

  .home {
    display: none;
    background-color: #326765;
    font-size: 1.5rem;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    width: 500px;
  }